<div class="envelop" *ngIf="envelopEnable">
    <div id="card" (click)="clickEnvelop()">
        <div class="heart"></div>
        <div class="heart1"></div>
        <div class="heart2"></div>
        <div class="heart3"></div>
        <div class="heart4"></div>
    </div>
    <h3 class="msg">Click on Envelope to Open Invitation</h3>
</div>
<div class="orientation" *ngIf="showpop && !envelopEnable">
    <img src="../assets/icons8-tilt.gif" alt="Change your Orientation">
    <span>
        Change Orientation to LandScape</span>
    <span>&</span>
    <span>
        Play Invitation Video
    </span>
</div>
<div class="player" *ngIf="!showpop && !envelopEnable">
    <div class="video-player-wrapper">
        <vg-player>
            <vg-overlay-play></vg-overlay-play>
            <vg-buffering></vg-buffering>
            <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" crossorigin>
                <source src="../assets/Bhupesh-Weding-Invitation-Final-comp.mp4" type="video/mp4">
            </video>
        </vg-player>
    </div>
</div>
